body {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
  }
  .logo{
    display: flex;
    align-items: center;
    width: 50%;
  }
  .title{
    display: flex;
    justify-content: left;
    align-items: left;
    width:50%;
    margin:0px;
    font-weight: bold;
    font-size: 30px;
  }
  .moto{
    width: 50%;
    margin: 5px;
    text-align: left;
  }
  button:hover {
    background-color: #0056b3; 
  }
  #container{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .google-signup-button {
  height: 50px !important;
  gap: 8px;
  padding: 8px 16px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 50px;
  cursor: pointer;
  width: 50% !important;
}
.signup-form{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    flex-grow: 1;
    color: black;
    justify-content: center;
    align-items: center;
}
.presentation{
    height: 100%;
    width: 50%;
    flex-grow: 1;
    background-color: #5138ee;
}
.bi-google{
    font-size: 18px;
    flex-grow: 1;
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;

}
  .centered-text {
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 50%;
    text-align: center;
    color: grey;
  }
  
  .horizontal-line {
    flex-grow: 1;
    border: none;
    border-top: 1px solid grey;
    margin: 0;
    color: grey;
  }
  span >p{
    color: grey;
  }
  .input {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .input > label {
    text-align: left;
    font-weight:bold;    
  }
input{
    width: 93%;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 20px;
    margin-top: 5px;
    height: 40px;
    padding-left: 20px;
}  
.checkbox {
    width: 50%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .checkbox label {
    display: flex;
    align-items: center;
    height: auto;
    white-space: nowrap;
    font-weight: bold;
  }
  .checkbox input[type="checkbox"] {
    margin-right: 8px;
  }
  .sign-up {
    height: 50px !important;
    width: 50% !important;
    margin-top: 20px;
    background-color: #5138ee;
    border: 1px solid #dddddd;
    border-radius: 50px;
    cursor: pointer;
    color: white;
  }
a{
    text-decoration: none;
}
.redirect{
    width: 50%;
    margin-top: 30px;
    display: flex;
    justify-content: left;
    font-weight: bold;
}
.copyright {
    display: flex;
    margin-top: 20px;
    font-size: 12px;
    color: #635858;
    justify-content: left;
    width: 50%;
  }
  button{
    font-weight: bold;
  }
  input[type="email"],
input[type="password"], input[type="text"]  {
  height: 40px;
  border-radius: 40px;
}
.visual{
  position: relative;
  display: flex;
  flex-grow: 1;
  height: 62.5%;

}
.background-rectangle{
  width:150px;
  height:150px;
  display: flex;
}
.background-rectangle1{
  width: 50px;
  height: 150px;
  background-color: #3521b5;
}
.background-rectangle2{
  width: 50px;
  height: 100px;
  background-color: #3521b5;
}
.background-rectangle3{
  width: 50px;
  height: 50px;
  background-color: #3521b5;
}
.background-triangle{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  width: 160px;
  height: 80px;
  background-color: #3521b5;
  position: relative;
  left:35%;
  top:42px;
  justify-content: center;
  align-items: center;
}
.background-triangle1 {
  border-right: 40px solid transparent;
  border-bottom: 40px solid #5138ee;
  text-align: center; 
}
.outer-circle1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 145px;
  width: 145px;
  background-color: #3521b5;
  position: absolute;
  top:175px;
  left:255px;
  border-radius: 50%;
}
.inner-circle1 {
  height: 142px;
  width: 142px;
  background-color: #5138ee;
  position: relative;
  border-radius: 50%;
}
.outer-circle2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  background-color: #3521b5;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inner-circle2 {
  height: 66px;
  width: 66px;
  background-color: #5138ee;
  position: absolute;
  border-radius: 50%;
}
.dots-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:140px;
  height: 80px;
  background-color: #5138ee;
  position: relative;
  justify-content: space-between;
  align-items: center;
  top: 67%;
  left: 10%;
  padding-top: 20px;
}
.dots{
  margin: 8px 10px;
  height: 2px;
  width: 2px;
  border-radius:3px ;
  background-color: #3521b5 ;
}

.text{
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  width:100%;
  height: 37.5%;
  justify-content: space-between;
  align-items: center;
  position:relative;
}
.presentation-moto{
  flex-grow: 1;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.presentation-description{
  flex:0 0 auto;
  margin: 0px;
  justify-content:baseline;
  line-height: 1;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.slider {
  display: flex;
  justify-content: center;
  width: 100px; 
  position: absolute;
  top:140px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.dot {
  width: 5px;
  height: 5px; 
  background-color: gray; 
  border-radius: 50%;
  cursor: pointer;
  margin-right: 5px;
}

.dot:nth-child(2){
  margin-right: 5px;
  width: 15px; 
  border-radius: 10px;
}

.dot.active {
  background-color: white;
}
.bottom-rectangle1{
  width:250px;
  height:50px;
  background-color: #3521b5;
  position: absolute;
  top:80%;
  left:61.3%;
}
.bottom-rectangle2{
  width: 200px;
  height: 50px;
  background-color: #3521b5;
  position: absolute;
  top:59.9%;
  left:69%;
}
.bottom-rectangle3{
  width: 150px;
  height: 50px;
  background-color: #3521b5;
  position: absolute;
  top:40%;
  left:76.8%;
}
.bottom-rectangle4{
  width: 100px;
  height: 50px;
  background-color: #3521b5;
  position: absolute;
  top:20%;
  left:84.5%;
}
.bottom-rectangle5{
  width: 50px;
  height: 50px;
  background-color: #3521b5;
  position: absolute;
  left:92.2%;
}