body {
    background: linear-gradient(to right, 
    #2980b9, 
    #6dd5fa, 
    #ffffff
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    height: 90vh;
  }
  
  h1 {
    font-size: 5em;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
  }
  
  .icon-container i {
    font-size: 200px;
    color: orangered; 
    margin-right: 8px;
    transition: transform 0.3s ease-in-out; 
  }
  .icon-container i:hover {
    transform: scale(1.2); 
  }
  button {
    font-size: 1.2em; 
    padding: 10px 20px;
    background-color: white;
    color: orange; 
    border: none; 
    border-radius: 4px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease; 
  }
  
  button:hover {
    background-color: #0056b3; 
  }
  #container{
    height:auto;
    width:auto;
    display:flex;
    border: 2px solid black;
  }
  .google-signin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  cursor: pointer;
}

.google-icon {
  width: 20px;
  height: 20px;
}
