body {
    background: linear-gradient(to right, 
    #2980b9, 
    #6dd5fa, 
    #ffffff
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    height: 90vh;
  }
  
  h1 {
    font-size: 5em;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
  }
  
  .icon-container i {
    font-size: 200px;
    color: orangered; 
    margin-right: 8px;
    transition: transform 0.3s ease-in-out; 
  }
  .icon-container i:hover {
    transform: scale(1.2); 
  }
  button {
    font-size: 1.2em; 
    padding: 10px 20px;
    background-color: white;
    color: orange; 
    border: none; 
    border-radius: 4px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease; 
  }
  
  button:hover {
    background-color: #0056b3; 
  }
  #container{
    height:90vh;
    width:90vw;
    display:flex;
    border: 2px solid black;
  }
  .google-signin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 20px;
  cursor: pointer;
}

.google-icon {
  width: 20px;
  height: 20px;
  background-color: transparent;
}
.login-form{
    height: 100%;
    width: 50%;
    flex-grow: 1;
    border: 1px solid black;
    padding: 10px;
}
.presentation{
    height: 100%;
    width: 50%;
    flex-grow: 1;
    border: 1px solid black;
    padding: 10px;
    background-color: #0056b3;
}
.twitter-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 50px;
}
.bi-twitter{
    font-size: 30px;
    flex-grow: 1;
    color: #1DA1F2;
}
.instagram-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50px;
}
.bi-instagram {
    --gradient-colors: linear-gradient(to top right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    font-size: 30px;
    flex-grow: 1;
    background: var(--gradient-colors);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }